<?xml version="1.0"?>
<config>
    <tabs>
        <mumzworld translate="label" module="promocampaign">
            <label>Mumzworld</label>
            <sort_order>0</sort_order>
        </mumzworld>
    </tabs>
    <sections>
        <promo_campaign translate="label" module="promocampaign">
            <label>Promo Campaign</label>
            <tab>mumzworld</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <emails translate="label">
                    <label>Email Related Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <from translate="label">
                            <label>From Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Emails will be sent from this email address</comment>
                        </from>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Transactional Email Template Code to be used</comment>
                        </email_template>
                    </fields>
                </emails>
            </groups>
        </promo_campaign>
    </sections>
</config>
